.nav-item {
  // Open, close transition
  &.closed {
    // Close transition
    // Hide the children
    .item-group {
      display: none;
    }
  }
  .item-group {
    .nav-item {
      > a {
        padding-left: 1.25rem;
      }
    }
  }
}
.root-label {
  span:first-child {
    padding-right: 10px;
  }
}
